@page "/"
@using Grpc.Net.Client
@using Google.Protobuf.WellKnownTypes;
@using BlazorWasmGrpcBlog.Client.Helpers
@using BlazorWasmGrpcBlog.Shared.Protos
@inject GrpcChannel Channel

<h1>Blog Posts</h1>

@if (postsLst == null)
{
    <p>Loading ...</p>
}
else
{
    foreach (var post in postsLst)
    {
        <p>@DateUtils.DbUtc2Str(post.DateCreated) - @post.Title by @post.PostAuthor.Name - @DateUtils.ProtoTs2Str(post.PostExt.Ts)</p>
    }
}

@code {
    private BlogProto.BlogProtoClient client;
    private List<Post> postsLst;
    //private System.Globalization.CultureInfo cultureInfo { get; set; }

    protected override async Task OnInitializedAsync()
    {
        // TODO, get culture info from browser via JSInterop.
        // cultureInfo = new System.Globalization.CultureInfo("en-US");
        client = new BlogProto.BlogProtoClient(Channel);
        postsLst = (await client.GetPostsAsync(new Empty())).PostsData.ToList();
    }
}
